p::first-line{
    color: aqua;
}

p::first-letter{
    color: red;
    font-size: xx-large;
}

p::before{
    content: "☆";
}

p::after{
    content: "☆";
    color: red;
    font-size: xx-large;
}

p.highlight:hover{
    background-color: coral;
}

input:focus{
    background-color: lightblue;
}