body{
    background-color: bisque;
}

image{
    margin-left: 20;
}

p{
    text-align:left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    color: black;
}

#headings{
    text-transform: uppercase;

}